@font-face {
  font-family: 'CirL';
  src: url("./CirL.otf");
}
@font-face {
  font-family: 'CirB';
  src: url("./CirB.otf");
}

.template {
  padding: 10px;
  font-family: "Arial";
}
.board-align .board,
.board-align .score-board {
  margin: auto;
}
.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.board-cols {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Arial";
  cursor: pointer;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}
.board-border-2 .board-cols {
  border: none;
}


.board-border-1 .board-rows-0 .board-cols-0 {border: none;}
.board-border-1 .board-rows-1 .board-cols-0 {border-right: none;}
.board-border-1 .board-rows-2 .board-cols-0 {border: none; border-left: 1px solid #fff;}
.board-border-1 .board-rows-0 .board-cols-2 {border: none;}
.board-border-1 .board-rows-2 .board-cols-2 {border: none;}
.board-border-1 .board-rows-1 .board-cols-1 {border: none;}

.board-border-1 .board-rows-0 .board-cols-1 {border-left: none;}
.board-border-1 .board-rows-1 .board-cols-0 {border-top: none;}
.board-border-1 .board-rows-1 .board-cols-2 {border-right: none;}
.board-border-1 .board-rows-1 .board-cols-2 {border-bottom: none;}
.board-border-1 .board-rows-2 .board-cols-1 {border-right: none;}
.board-border-1 .board-rows-2 .board-cols-2 {border-left: 1px solid #fff;}

.disabled {
  pointer-events: none;
  opacity: .6;
}
.disabled .board-cols span {
  opacity: .3;
}

.next-disabled {
  pointer-events: none;
}
.alert {
  background: #333;
  width: 350px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-bar-1 {
  font-size: 2.5rem;
}
.circle-bar-2 {
  display: block;
  rotate: 180deg;
  font-size: 2.5rem;
}

.close-bar-1 {
  width: 50px;
  height: 2px;
  background: #111;
  display: block;
  border-radius: 10px;
}
.close-bar-2 {
  width: 50px;
  height: 2px;
  background: #111;
  display: block;
  margin-top: -2px;
  border-radius: 10px;
}
.board-cols {
  border-color: #111;
}
.circle-anim-before-enter {
  rotate: 50deg;
}
.circle-anim-enter {
  rotate: 0deg;
  transition: .3s;
}
.circle-anim-enter .circle-bar-2 {
  margin-top: -28.8px;
  transition: .3s;
}
.bar-rotate-enter .close-bar-1 {
  rotate: 47deg;
  transition: .3s;
}
.bar-rotate-enter .close-bar-2 {
  rotate: -47deg;
  transition: .3s;
}
.winning-cell span {
  transition: .2s;
  opacity: 1 !important;
}
.score-board {
  width: 300px;
  background: #252525;
  color: #fff;
  text-align: left;
  padding: 15px;
  overflow: hidden;
  border-radius: 10px;
}
.score-board h1 {
  margin: 10px;
  font-size: 1.5rem;
  font-family: "CirL";
  opacity: .5;
}
.score-board h5 {
  margin: 30px 10px -10px;
  font-size: 1rem;
  font-family: "CirB";
  color: gray;
  opacity: .6;
}
.score-board button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  outline: none;
  margin: 20px 0;
  opacity: .8;
  cursor: pointer;
  font-family: "CirL";
  font-size: 1rem;
  letter-spacing: .5px;
}
.history-text {
  height: 60px;
  overflow: hidden;
 }
.history-text p {
  font-size: 1.5rem;
  margin: 15px;
  margin-left: 10px;
  font-family: "CirL";
  opacity: .6;
}



.list-enter-active,
.list-leave-active,
.list-move {
  transition: .3s;
  transform: translateY(50px) scaleY(0.5);
}
.list-enter-to {
  transform: translateY(0) scaleY(1);
}
.scale-before-enter {
  opacity: 0;
  transform: scale(.3);
}
.scale-enter {
  opacity: 1;
  transform: scale(1.5);
  transition: .5s;
}
.circle-bar-1 {
  font-size: 3.3rem !important;
  display: block !important;
}
.circle-bar-2 {
  font-size: 3.3rem !important;
}
.circle-anim-enter .circle-bar-1 {margin-bottom: -3px !important;}